/* ==========================================================================
   Web App Boilerplate - Main.css
   ========================================================================== */

body{
    padding:20px;
}

#app-view{
    padding-top:10px;
}

#header{
    margin:0 10px 10px 10px;
}

.page-view > h3{
  margin-left:20px;
}

#places-list{
  padding:20px;
}
#places-list .panel{
  width:300px;
  float:left;
  margin-right:20px;
}
